/.vs/OneNoteTest/FileContentIndex
/.vs/OneNoteTest
/OneNoteTest/bin/Debug
/OneNoteTest/obj/Debug
/OneNoteTest/OneNoteTest.csproj
/OneNoteTest/App.config
/OneNoteTest/packages.config
/packages
*.sln
flow diagram.drawio
OneNoteTest/OneNoteTest.csproj.user
.vs/ProjectEvaluation/onenotetest.metadata.v5
.vs/ProjectEvaluation/onenotetest.projects.v5
TestProject1/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
TestProject1/obj/Debug/net6.0/TestProject1.AssemblyInfo.cs
TestProject1/obj/Debug/net6.0/TestProject1.AssemblyInfoInputs.cache
TestProject1/obj/Debug/net6.0/TestProject1.assets.cache
TestProject1/obj/Debug/net6.0/TestProject1.csproj.AssemblyReference.cache
TestProject1/obj/Debug/net6.0/TestProject1.GeneratedMSBuildEditorConfig.editorconfig
TestProject1/obj/Debug/net6.0/TestProject1.GlobalUsings.g.cs
TestProject1/obj/project.assets.json
TestProject1/obj/project.nuget.cache
TestProject1/obj/TestProject1.csproj.nuget.dgspec.json
TestProject1/obj/TestProject1.csproj.nuget.g.props
TestProject1/obj/TestProject1.csproj.nuget.g.targets
TestProject1/TestProject1.csproj
TestProject1/bin/Debug/net6.0/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
TestProject1/bin/Debug/net6.0/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
TestProject1/bin/Debug/net6.0/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
TestProject1/bin/Debug/net6.0/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
TestProject1/bin/Debug/net6.0/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
TestProject1/bin/Debug/net6.0/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
TestProject1/bin/Debug/net6.0/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
TestProject1/bin/Debug/net6.0/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
TestProject1/bin/Debug/net6.0/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
TestProject1/bin/Debug/net6.0/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
TestProject1/bin/Debug/net6.0/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
TestProject1/bin/Debug/net6.0/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
TestProject1/bin/Debug/net6.0/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
TestProject1/bin/Debug/net6.0/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
TestProject1/bin/Debug/net6.0/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
TestProject1/bin/Debug/net6.0/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
TestProject1/bin/Debug/net6.0/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
TestProject1/bin/Debug/net6.0/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
TestProject1/bin/Debug/net6.0/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
TestProject1/bin/Debug/net6.0/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
TestProject1/bin/Debug/net6.0/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
TestProject1/bin/Debug/net6.0/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
TestProject1/bin/Debug/net6.0/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
TestProject1/bin/Debug/net6.0/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
TestProject1/bin/Debug/net6.0/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
TestProject1/bin/Debug/net6.0/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
TestProject1/bin/Debug/net6.0/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
TestProject1/bin/Debug/net6.0/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
TestProject1/bin/Debug/net6.0/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
TestProject1/bin/Debug/net6.0/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
TestProject1/bin/Debug/net6.0/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
TestProject1/bin/Debug/net6.0/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
TestProject1/bin/Debug/net6.0/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
TestProject1/bin/Debug/net6.0/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
TestProject1/bin/Debug/net6.0/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
TestProject1/bin/Debug/net6.0/Microsoft.TestPlatform.CommunicationUtilities.dll
TestProject1/bin/Debug/net6.0/Microsoft.TestPlatform.CoreUtilities.dll
TestProject1/bin/Debug/net6.0/Microsoft.TestPlatform.CrossPlatEngine.dll
TestProject1/bin/Debug/net6.0/Microsoft.TestPlatform.PlatformAbstractions.dll
TestProject1/bin/Debug/net6.0/Microsoft.TestPlatform.Utilities.dll
TestProject1/bin/Debug/net6.0/Microsoft.VisualStudio.CodeCoverage.Shim.dll
TestProject1/bin/Debug/net6.0/Microsoft.VisualStudio.TestPlatform.Common.dll
TestProject1/bin/Debug/net6.0/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
TestProject1/bin/Debug/net6.0/Newtonsoft.Json.dll
TestProject1/bin/Debug/net6.0/NuGet.Frameworks.dll
TestProject1/bin/Debug/net6.0/OneNoteTest.exe
TestProject1/bin/Debug/net6.0/OneNoteTest.exe.config
TestProject1/bin/Debug/net6.0/OneNoteTest.pdb
TestProject1/bin/Debug/net6.0/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
TestProject1/bin/Debug/net6.0/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
TestProject1/bin/Debug/net6.0/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
TestProject1/bin/Debug/net6.0/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
TestProject1/bin/Debug/net6.0/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
TestProject1/bin/Debug/net6.0/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
TestProject1/bin/Debug/net6.0/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
TestProject1/bin/Debug/net6.0/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
TestProject1/bin/Debug/net6.0/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
TestProject1/bin/Debug/net6.0/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
TestProject1/bin/Debug/net6.0/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
TestProject1/bin/Debug/net6.0/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
TestProject1/bin/Debug/net6.0/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
TestProject1/bin/Debug/net6.0/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
TestProject1/bin/Debug/net6.0/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
TestProject1/bin/Debug/net6.0/testhost.dll
TestProject1/bin/Debug/net6.0/testhost.exe
TestProject1/bin/Debug/net6.0/TestProject1.deps.json
TestProject1/bin/Debug/net6.0/TestProject1.dll
TestProject1/bin/Debug/net6.0/TestProject1.pdb
TestProject1/bin/Debug/net6.0/TestProject1.runtimeconfig.json
TestProject1/bin/Debug/net6.0/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
TestProject1/bin/Debug/net6.0/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
TestProject1/bin/Debug/net6.0/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
TestProject1/bin/Debug/net6.0/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
TestProject1/bin/Debug/net6.0/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
TestProject1/bin/Debug/net6.0/xunit.abstractions.dll
TestProject1/bin/Debug/net6.0/xunit.assert.dll
TestProject1/bin/Debug/net6.0/xunit.core.dll
TestProject1/bin/Debug/net6.0/xunit.execution.dotnet.dll
TestProject1/bin/Debug/net6.0/xunit.runner.reporters.netcoreapp10.dll
TestProject1/bin/Debug/net6.0/xunit.runner.utility.netcoreapp10.dll
TestProject1/bin/Debug/net6.0/xunit.runner.visualstudio.dotnetcore.testadapter.dll
TestProject1/bin/Debug/net6.0/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
TestProject1/bin/Debug/net6.0/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
TestProject1/bin/Debug/net6.0/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
TestProject1/bin/Debug/net6.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
TestProject1/bin/Debug/net6.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
TestProject1/bin/Debug/net6.0/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
TestProject1/bin/Debug/net6.0/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
TestProject1/bin/Debug/net6.0/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
TestProject1/bin/Debug/net6.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
TestProject1/bin/Debug/net6.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
TestProject1/obj/Debug/net6.0/_IsIncrementalBuild
TestProject1/obj/Debug/net6.0/Interop.Microsoft.Office.Interop.OneNote.dll
TestProject1/obj/Debug/net6.0/ref/TestProject1.dll
TestProject1/obj/Debug/net6.0/refint/TestProject1.dll
TestProject1/obj/Debug/net6.0/TestProject1.csproj.BuildWithSkipAnalyzers
TestProject1/obj/Debug/net6.0/TestProject1.csproj.CopyComplete
TestProject1/obj/Debug/net6.0/TestProject1.csproj.CoreCompileInputs.cache
TestProject1/obj/Debug/net6.0/TestProject1.csproj.FileListAbsolute.txt
TestProject1/obj/Debug/net6.0/TestProject1.csproj.ResolveComReference.cache
TestProject1/obj/Debug/net6.0/TestProject1.dll
TestProject1/obj/Debug/net6.0/TestProject1.genruntimeconfig.cache
TestProject1/obj/Debug/net6.0/TestProject1.pdb
TestProject1/bin/Debug/net6.0/DotNetEnv.dll
TestProject1/bin/Debug/net6.0/Sprache.dll
TestProject1/.env
